#bottom--navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;            /* Footer height */

    justify-content: space-around;
  }


#bottom--navigation .faJar,
#bottom--navigation .faExpand,
#bottom--navigation .faUtensils {
  color: #008000; 
}