/* Pantry.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #FEFAED; 
  }
  
  .header {
    font-size: 24px;
    color: #333;
    margin: 0; 
    padding: 20px; 
    text-align: center; 
  }
  
  .addButton {
    background-color: #F3F0D7;
    color: #333;
    border: 1px solid #D3C1AE;
    border-radius: 20px;
    padding: 10px 50px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #E6E2D3; /* Slightly darker background on hover */
  }
  